body {
    background-color: #cc9ad6;
}
img {
    position: absolute;
    display:inline-block;
    width: 100%;
}
a, a:hover {
    text-decoration: none;
}
.horizontalFlex {
    display: flex;
    justify-content: space-between;
}
/* LAYERS IN ORDER
    Bandana
    Ears
    B A S E
    Tails
*/
.bandana {
    visibility:hidden;
    z-index: 300;
}
.ear {
    visibility:hidden;
    z-index: 200;
}
#character {
    z-index: 100;
}
.tail {
    visibility:hidden;
    z-index: -1000;
}
.commonbtn {
    background-color: #61B2FF; /* common blue */
}
.commonbtn:hover, .commonbtn:focus, .commonbtn.active {
    background-color: #005FBA;
    color: #FFF;
}
.uncommonbtn {
    background-color: #BE84FF; /* uncommon purple */
}
.uncommonbtn:hover, .uncommonbtn:focus, .uncommonbtn.active {
    background-color: #7927D4;
    color: #FFF;
}
.rarebtn {
    background-color: #FF82DF; /* rare pink */
}
.rarebtn:hover, .rarebtn:focus, .rarebtn.active {
    background-color: #EF26BC;
    color: #FFF;
}
.exclusivebtn {
    background-color: #FF5E62; /* exclusive red */
}
.exclusivebtn:hover, .exclusivebtn:focus, .exclusivebtn.active {
    background-color: #E40B2F;
    color: #FFF;
}
#characterContainerButtons {
    text-align: center;
    background-color: #F4F4F4;
    position: fixed;
    z-index: 1000;
    right: 0;
    width: 50%;
    margin: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
#openMenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}
.dABullet {
    position: relative;
    width: auto;
}
