body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td {
	border:0;
	outline:none;
	margin:0;
	padding:0;
}

body {
	height:100%;
	background:#CDD8C8;
	color:#1f1f1f;
	font-family:Arial,Verdana,sans-serif;
	font-size:13px;
	padding:7px 0;
}

ul, ol {
	list-style:none;
}

a {
	text-decoration: none;
}

.text-center {
	text-align: center;
	padding: 10px 0;
}

.wrap {
	/*width: 960px;*/
	width: 80%;
	margin: 0 auto;
}

/* Tutorial CSS */
#demo-list {
	height: 700px;
}

#demo-list {
	margin-bottom: 50px;
	line-height: 1.5em;
}

#demo-list li {
	display: inline;
}

#demo-list li a {
	display: block;
	float: left;
	padding: 10px;
	width: 100px;
	/* width: 135px;
	height: 60px;
	margin: 0 2px 2px 0;
	background: url(bg_link.png) no-repeat 0 0; */
	font: bold 12px Arial, sans-serif;
	text-align: center;
	color: #000;
	text-transform: capitalize;
	background: #CDD8C8;
    border-top: 1px solid #CDD8C8;
}

#demo-list li a:hover {
	/* background-position:0 -80px; */
	background: #ADBBAD;
    border-top: 1px solid #95A596;
}

#tag-list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#tag-list li {
	/* display: inline; */
	float: left;
	border-right: 1px solid #bbb;
}

#tag-list li a {
	text-transform: capitalize;
	font-family: Arial;
	font-weight: bold;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#tag-list li a:hover {
	background-color: #111;
}

#tag-list li a.active {
	background-color: #04CC47;
}